@import '../../node_modules/bulma/bulma.sass';

$main-color: #d45e5e;

.demo {
    background-color: $main-color;
}

.test { background-color: blue}

.primary { background-color: blue;}

// navbar


.navbar-menu {
    a { 
        transition: .10s ease;
    }
}
.navbar-menu div a:hover {
    color: white !important;
}
.navbar-menu .navbar-item:hover { background-color: $main-color}

/* This changes only the text */


// contact section
.address li {
    margin: 0.55rem 0;
    color: white
}


// footer
footer { 
    background-color: rgb(77, 77, 77); 
    color: white;
    
    .footer__content { 
        text-align:right; }
    
}

@media only screen and (max-width: 670px) {
    .contact {
        text-align: center;

        .contact__content {
            padding: 0;
        }
    }
    footer .footer__content { 
        text-align: center; }

  
}